* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
section {
    display: grid;
    grid-template-columns: repeat(4, 8rem);
    grid-template-rows: repeat(4, 8rem);
    gap: 2rem;
    perspective: 800px;
    padding-top: 2rem;
}
body {
    background-image: linear-gradient(#45ec95, #8df09d, #b9f3ad, #daf6c3, #f2fbde);
    background-repeat: no-repeat;
    font-family: 'Garamond', 'Times New Roman', Times, serif;
    color: steelblue;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

h1 {
    padding: 1%;
    margin: 5px;
    font-size: 3rem;
    color: rgba(48, 14, 197, 0.418);
    text-align: center;
}
.header {
    background-color: rgba(226, 221, 221, 0.452);
    width: 100%;
}
.header-game-page {
    font-size:150%;
}
.instructions {
    text-align: center;
    text-decoration: underline;
    padding: 0.25%;
    margin: 10px;
    font-size: 2rem;
}

li {
    text-decoration: none;
    font-size: 200%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
ul {
    width: 65%;
    text-align: center;
    list-style-type:none;
}

.ready-to-start {
    text-align: center;
    text-decoration: none;
    font-size:300%;
    padding: 2%;
    margin: 10px;
}

button {
    font-weight: bolder;
    font-size:large;
    letter-spacing: 0.1em;
    text-decoration: underline;
    color: steelblue;
    background-color: lightcyan;
    border-style: none;
    border-radius: 50%;
    box-shadow: -10px 10px 20px purple;
}
.start:hover {
    background-color: salmon;
    color:whitesmoke;
    transition: 0.7s;
}

.start, .finish {
    height: 100px;
    width: 200px;
    margin: 10px;
}

.score {
    font-size:xx-large;
    margin: 10px;
    text-shadow: 1px 1px 10px #FFF433, 1px 1px 10px #FFF433;
}

.card {
    position: relative;
    transform-style: preserve-3d;
    transition: all 2.5s ease;
    box-shadow: rgba(0,0,0,0.2) 0px 5px 15px;
}
.front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
}

.back {
    background-color: whitesmoke;
    backface-visibility: hidden;
}
.toggleCard {
    transform: rotateY(180deg);
}

/* media queries */
@media only screen and (max-width: 425px) {

    section {
        display: grid;
        grid-template-columns: repeat(4, 4rem);
        grid-template-rows: repeat(4, 3rem);
        gap: 1rem;
        padding-top: 2rem;
    }
}